<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Two Numbers</title>
    
</head>
<body>

    <div class="calculator-container">
        <h2>Add Two Numbers</h2>
    
        <input type="number" id="number1" placeholder="Enter first number" required>
        <br>
        <br>
        <input type="number" id="number2" placeholder="Enter second number" required>
        <br>
        <br>
        <button onclick="calculateSum()">sum</button>
        <button onclick="calculateSub()">sub</button>
        <button onclick="calculateDiv()">div</button>
        <button onclick="calculateMul()">mul</button>
        <br>
        <br>
        <div class="result" id="result"></div>
    </div>

    <script>
      function calculateSum(){

       var num1 = parseInt(document.getElementById("number1").value);
       var num2 =  parseInt(document.getElementById("number2").value);

        var res =  num1 + num2;
         document.getElementById("result").innerHTML = "result sum :" + res;
      }

      function calculateSub(){

       var num1 = parseInt(document.getElementById("number1").value);
       var num2 =  parseInt(document.getElementById("number2").value);

        var res  =  num1 - num2;
         document.getElementById("result").innerHTML = "result sum :" + res;
      }
      function calculateDiv(){

       var num1 = parseInt(document.getElementById("number1").value);
       var num2 =  parseInt(document.getElementById("number2").value);

        var res  =  num1 / num2;
         document.getElementById("result").innerHTML = "result  :" + res;
      }
      function calculateMul(){

       var num1 = parseInt(document.getElementById("number1").value);
       var num2 =  parseInt(document.getElementById("number2").value);

        var res  =  num1 * num2;
         document.getElementById("result").innerHTML = "result  :" + res;
      }
    </script



</body>
</html>
